.formContianer{   
    border: 2px solid #470505;
    margin: 2% 10%;
    padding: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.5);
    width: 100%;
    
}
.headline{
    display: flex;
    justify-content: center;
    padding:0 0 32px 0;
    color: black;
}